
#content {
    opacity: 0;
    transition: opacity .1s;
}
#loading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: url('../imgs/paper-bg.jpg');
	background-size: cover;
	pointer-events: none;
}

#loading img {
	width: 30rem;
}

#hueBG {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	transition: 2s;
	background: url('../imgs/paper-bg.jpg');
	background: #9a0000;
	mix-blend-mode: hue;
	background-size: cover;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;

	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;

	animation-fill-mode: forwards;

	opacity: 0;
}



main {
	-webkit-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;

	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;

/*	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
*/	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadeIn{
	/*from{opacity: 0;}*/
	to {opacity: 1;}
}


#fadeRed {
	-webkit-animation-name: fadeRedT;
	-o-animation-name: fadeRedT;
	animation-name: fadeRedT;
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	color: #f23535;
}

@keyframes fadeRedT {
	from {color: #f23535;} 
	to {color: #9a0000;}
}

#shipFG {
	-webkit-animation-name: rock;
	-o-animation-name: rock;
	animation-name: rock;

	-webkit-animation-duration: 23s;
	-o-animation-duration: 23s;
	animation-duration: 23s;
	animation-iteration-count: infinite;
	transform-origin: 50% 80%;

}

@keyframes rock {
	0% {transform: rotateZ(0deg);}
	50% {transform: rotateZ(5deg);}
	100% {transform: rotateZ(0deg);}
}

.bob {
/*	-webkit-animation-name: bob;
	-o-animation-name: bob;
	animation-name: bob;
*/
	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;

	/*animation-iteration-count: infinite;*/
}

@keyframes bob {
	0% {transform: translateY(0px);}
	50% {transform: translateY(5px);}
	100% {transform: translateY(0px);}
}