

/* GENERAL STYLES */

html {
	font-size: 100%;
	/*background-color: black;*/
}
body {
	overflow-x: hidden;
}

/* TEXT */

@font-face {
	src: url('../fonts/ZapfinoLinotypeOne.ttf');
	font-family: 'Zapfino';
}

h1 {
	font-family: 'Zapfino';
	font-weight: bold;
}

@font-face {
	src: url('../fonts/Kallos-itc-medium.ttf');
	font-family: 'Kallos';
}

h2,h3,h4 {
	font-family: 'Kallos';
}

@font-face {
	src: url('../fonts/Neuton-Regular.TTF');
	font-family: 'Neuton';
}

p {
	font-family: 'Neuton';
	max-width: 60rem;
	line-height: 1.5;
	letter-spacing: 1px;
}

.textBox {
	width: 25rem;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.textArea img {
	box-shadow: 0 0 5px #200000;
}

.png {
	box-shadow: none !important;
}

.redTextBox .textArea {
	border: solid #9a0000 2px;
	background: rgba(250, 245, 245,.9);
	display: flex;
	flex-flow: column;
	align-items: center;
}
.blackTextBox .textArea {
	border: solid #000 2px;
	background: rgba(50, 40, 40,.9);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.textBox a, .textBox .a {
	padding: 1rem;
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	transition: .3s;
}
.textBox a img {
	margin-right: .5rem;
	max-height: 100%;
}
.textBox a:hover img {
	margin-right: 0;
	fill: #eae0e0;
	transition: .3s;
}
.redTextBox a {
	background: #9a0000;	
}
.blackTextBox .a {
	background: #200000;
}

.textBox a h2,.textBox .a h2 {
	color: #fffcfc;
	width: 100%;
	height: auto;
}


.textBox p {
	padding: 0rem 1rem 2rem;
}

.textBox .textArea {
	padding-top: 2rem;
}

.blackTextBox p {
	color: #fffcfc;
	padding: 1rem 1rem 1rem;
}
.blackTextBox h2 {
	color: #fffcfc;
	padding: 1rem 0;
}
.blackTextBox span {
	padding: 1rem;
}

.boxTop {
	/*margin-bottom: -1rem;*/
}
.boxBottom {
	/*margin-top: -1rem;*/
	transform: rotateZ(180deg);
	transform-origin: 50%;
}
.boxHover a {
	background: #f23535 !important;
}

.boxHover .textArea {
	border: 2px solid #f23535;
}

.flexRow {
	display: flex;
	flex-flow: row wrap;
}

/* IMAGES */

img {
	max-width: 100%;
}


.spacer10 {
	min-height: 10vh;
}
.spacer20 {
	min-height: 20vh;
}
.spacer50 {
	min-height: 50vh;
}
.spacer100 {
	min-height: 100vh;
}

.spaceCenter {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.spaceLeft {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
}
.spaceRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2rem;
}

.locationTitle {
	font-family: 'Zapfino';
	font-size: 5rem;
	font-weight: bold;
	color: #9a0000;

	position: fixed;
	left: 15rem;
	top: 2rem;
	opacity: 0;
	pointer-events: none;
	z-index: 10;

}

#locationBox {
	display: none;
}

#sierraleoneImgs * {
	position: fixed;
	left: 15rem;
	z-index: 12;
	top: 10rem;
	width: 30rem;
	opacity: 0;
	transition: 1s;
}

.show {
	opacity: 1;
}


#debug {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: rgba(110,110,110,.8);
	padding: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE */

/* HEADER */

#homeHeader {
	position: fixed;
	display: flex;
	z-index: 4;
	flex-flow: row nowrap;
	height: 10rem;
	width: 27rem;
	padding: 1rem;
	background: rgba(250, 245, 245,.9);
	border-right: solid #9a0000 2px;
	border-bottom: solid #9a0000 2px;
}


 h1 {
	/*max-width: 50%;*/
	color: #9a0000;
}

.voyageLogo {
	text-align: center;
	margin-bottom: 2rem;
}

.voyageLeft {
	margin-left: 3rem;
}
.biggerFont {
	font-size: 3.5rem;
	line-height: .5rem;
}

#homeHeader .logo {
	max-height: 100%;
	margin-left: -7rem;
}


#voyageNav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 10rem;
	padding: 0rem;
	/*border-right: solid #9a0000 3px;*/
	box-shadow: inset -5px 0 5px gray;
	background: url('../imgs/paper-bg.jpg');
	background: #200000;
	opacity: 0;
}

#voyageNav h1 {
	padding: 1.5rem 1rem;
	margin: 0;
	/*border-bottom: solid #9a0000 3px;	*/
	transition: .3s;
}
#voyageNav h1:hover {
	color: #f23535;
}

	#voyageNav h1 {
		padding: 0;
	}
	#voyageNav {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding: 2rem 1rem;
		box-sizing: border-box;
	}
	#sideBar {
		width: 100%;
		background: url('../icons/sideBar.svg');
		background-size: cover;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		width: 8rem;
		height: 25.3rem;
		padding: 3rem 0;
		box-sizing: border-box;
	}
	#sideBar a {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
	#sideBar a .title {
		margin-right: -5rem;
		padding-left: 5rem;
		white-space: nowrap;
		width: 0;
		opacity: 0;
		font-family: 'Kallos';
		color: #9a0000;
		transition: .3s;
		font-size: 1.4rem;
		pointer-events: none;
	}
	#sideBar a:hover .title {
		opacity: 1;
	}
	.dot {
		background: #9a0000;
		border-radius: 50%;
		height: .7rem;
		width: .7rem;
		margin: .5rem;
		transition: .3s;
	}
	#sideBar a:hover .dot {
		opacity: 1;
		background: #f23535;
		border-color: #9a0000;
	}


.visitedDot .dot {
	transform: scale(1.5);
	fill: #9a0000 !important;
}

.activeDot .dot {
	transform: scale(1.5);
	background: transparent;
	border: 2px solid #9a0000;
}

.redTheme h2 {
	color: #fffcfc !important;
	transition: 2s;
}

#voyageNav.redTheme {
	background: rgba(0,0,0,0);
	border: 0;
	transition: 2s;
	box-shadow: none;
}

.whiteBar {
	filter: brightness(0) invert(.9);

}
.whiteBar .voyageLogo:hover {
	filter: invert(.6);
}
 
.redBox {
	background: #6a0000  !important;
	mix-blend-mode: multiply;
	opacity: 1 !important;
}
.redishBox {
	background: #9a0000  !important;
	mix-blend-mode: hue;
	opacity: 1 !important;
}

.bigTitle {
	font-family: 'Zapfino';
	font-size: 10rem;
	color: #fffcfc;
	font-weight: normal;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	pointer-events: none;
}

.bigStopText {
	color: #fffcfc;
	width: 30rem;
}
.bigStopText h2 {
	padding: 0rem 0rem 2rem; 
	font-size: 1.6rem;
	/*margin-bottom: 2rem;*/
	color: white;
	padding-top: 2rem;
}
.bigStopText a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	border-bottom: 2px solid white;
}
.bigStopText a img {
	height: 3rem;
	margin-right: .5rem;
	transition: .3s;
}
.bigStopText a:hover img {
	margin-right: 0;

}
.bigStopText p {
	padding: 2rem 2rem 0rem; 
	line-height: 1.7;
	letter-spacing: 1px;
	border-left: 2px solid white;
}

/* MAIN */

#regularBG {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../imgs/paper-bg.jpg');
	background-size: cover;	
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: 2s;
	/*background: #000;*/
	/*mix-blend-mode: multiply;*/
}

#titleH {
	margin-top: 0;
	font-size: 5rem;
	position: relative;
}


/* SECTION */

#skyBG {
	position: fixed;
	top: 0;
	background: url('../imgs/sky-bg.jpg');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
	right: -20%;
	z-index: -10;
}
#shipBG {
	position: fixed;
	bottom: 0;
	background: url('../imgs/ship-bg.png');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
	right: -20%;
	z-index: -5;
	/*transform: translateX(-10%);*/
}
#shipFG {
	position: fixed;
	bottom: -70px;
	height: 110%;
	right: 100px;
	z-index: 1;
}

#darken {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: .8;
	z-index: -1;
}


#voyageInfo {
/*	position: fixed;
	z-index: 30;
	top: 15rem;
*/}
#archiveInfo {
/*	position: fixed;
	z-index: 30;
	top: 15rem;
	right: 0;
*/}
#aboutInfo {
/*	position: fixed;
	z-index: 20;
	top: 0rem;
	right: 0;
*/}

/* FOOTER */



/* MISC */





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET */

@media screen and (min-width: 500px) {
	
/* HEADER */
/* MAIN */
/* SECTION */
/* FOOTER */
/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DESKTOP */

@media screen and (min-width: 900px) {
	
/* HEADER */
/* MAIN */
/* SECTION */
/* FOOTER */
/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LARGER */

@media screen and (min-width: 1700px) {
	
/* HEADER */
/* MAIN */
/* SECTION */
/* FOOTER */
/* MISC */

}

