

/* GENERAL STYLES */

* {
	transition: ease;
}


html {
	font-size: 100%;
	/*background-color: black;*/
}
body {
	overflow-x: hidden;
}
/* TEXT */

@font-face {
	src: url('../fonts/ZapfinoLinotypeOne.ttf');
	font-family: 'Zapfino';
}

h1 {
	font-family: 'Zapfino';
	text-shadow:
	1px -1px 0 #900000,
	-1px 1px 0 #900000;
	word-spacing: -.5rem;
	overflow: visible;

}

@font-face {
	src: url('../fonts/Kallos-itc-medium.ttf');
	font-family: 'Kallos';
}

h2,h3,h4 {
	font-family: 'Kallos';
	letter-spacing: 1px;
	overflow: visible;
}

@font-face {
	src: url('../fonts/Neuton-Regular.ttf');
	font-family: 'Neuton';
}

p {
	font-family: 'Neuton';
	max-width: 60rem;
	line-height: 1.5;
	letter-spacing: 1px;
}

.textBox {
	max-width: 100%;
	width: 33rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	filter: drop-shadow(0px 0px 0.5rem rgba(0,0,0,.5));
}

.textArea img {
	filter: drop-shadow(0px 0px 3px rgba(30,0,0,.5));
}

.png {
	box-shadow: none !important;
}

.textBox .textArea {
	border: solid #900000 .125rem;
	/*overflow: hidden;*/
	background: rgba(250, 245, 245,.9);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.textBox .a span {
	color: #baa;
	max-height: 4rem;
	justify-content: flex-end;
}

.textBox .a {
	padding: 1rem;
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	transition: transform .3s ease;
	background: #900000;
}
.textBox .a img {
	margin: 0 .5rem;
	max-height: 3rem;
}
.textBox .a h2 {
	flex: 1 0 70%;
}

.redTextBox a {
	/*overflow: hidden;*/
}
.blackTextBox .a {
	background: #200000;
}

.textBox a h2,.textBox .a h2 {
	color: #fffcfc;
	width: 100%;
	height: auto;
}


.textBox p {
	padding: 0rem 1rem 2rem;
}

.textBox .textArea {
	padding-top: 2rem;
}

.blackTextBox p {
/*	color: #fffcfc;
*/	padding: 1rem 1rem 1rem;
}
.blackTextBox h2 {
	color: #fffcfc;
	padding: 1rem 0;
}
.blackTextBox span {
	padding: 1rem;
}

.boxTop {
	/*margin-bottom: -1rem;*/
}
.boxBottom {
	/*margin-top: -1rem;*/
	transform: rotateZ(180deg);
	transform-origin: 50%;
}
.boxHover a {
	background: #f23535 !important;
}

.boxHover .textArea {
	border: .125rem solid #f23535;
}

.flexRow {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.flexRow span {
	padding: 2rem;
}

.flexRow span p {
	padding: .5rem;
}

/* IMAGES */

img {
	max-width: 100%;
}


.spacer10 {
	min-height: 10vh;
}
.spacer20 {
	min-height: 20vh;
}
.spacer50 {
	min-height: 50vh;
}
.spacer100 {
	min-height: 100vh;
}

.spaceCenter {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-left: -5rem;
	padding: 2rem;
	max-width: 100%;
}
.spaceLeft {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
}
.spaceRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2rem;
}

.locationTitle {
	font-family: 'Zapfino';
	font-size: 5rem;
	text-shadow:
	1px -1px 0 #900000,
	-1px 1px 0 #900000;
	color: #900000;
	padding-right: 2rem;
	word-spacing: -.2em;
	position: fixed;
	left: 12rem;
	top: 2rem;
	opacity: 0;
	pointer-events: none;
	z-index: -1;

}

#locationBox {
	display: none;
}

#sierraleoneImgs * {
	position: fixed;
	left: 15rem;
	z-index: 12;
	top: 10rem;
	width: 30rem;
	opacity: 0;
	transition: 1s;
	pointer-events: none;
}

.show {
	opacity: 1;
}


#debug {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: rgba(110,110,110,.8);
	padding: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ AUDIO */

#audio {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	align-items: center;
	color: #baa;
	margin: 2rem;
	width: 6rem;
	cursor: pointer;
	transition: .2s;
	opacity: 0;
}

#playButton {
	width: 2rem;
	height: 2rem;
	/*background: url('../icons/audioOn.svg');*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BROWSER SUPPORT */

.firefoxWarning {
	width: 50%;
	color: white;
	margin: 3rem;
	padding: 1rem;
	background-color: #900000;
	box-shadow: 0px 0 8px #544;
	font-size: 1.1rem;
	text-align: center;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	font-family: 'Neuton';
	z-index: 100;
}

@-moz-document url-prefix() {
    .ff {
        display: inline-block;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE */

/* HEADER */



 h1 {
	color: #900000;
	/*overflow: hidden;*/
}

/*.voyageLogo {
	text-align: center;
	margin-bottom: 2rem;
}

.voyageLeft {
	margin-left: 3rem;
}
*/.biggerFont {
	font-size: 3.5rem;
	line-height: .5rem;
}

#homeHeader h1 {
	font-size: 3rem;
}

#homeLinks {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 13rem;
}

.arrowLink {
	width: 8rem;
	height: 4rem;
	font-family: 'Kallos';
	color: #fffcfc;
	padding: 1rem 0;
	border-top: 1px solid #bbaaaa;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	/*text-align: center;*/
	transition: all .2s;
	cursor: pointer;
}

.textBox .arrowLink {
	background: #fffcfc;
	height: 2rem;
	color: #900000;
	border: none;
	/*border-color: #900000;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: .3rem;
	border-radius: 3px;
	white-space: nowrap;
}

.textBox .arrowLink:hover {
	color: #f23535;
	/*background-color: #bbaaaa;*/
}
.textBox .arrowLink img {
	height: 5rem;
	padding-left: 0rem;
	margin-left: -1rem;
	opacity: 0;
	width: 0;

}
.textBox .arrowLink:hover img {
	opacity: 1;
	margin-left: -1.5rem;
	margin-right: -1rem;
	width: 3.2rem;
}


.arrowLink {
	font-size: 1.2rem;
}
.arrowLink img {
	height: 2rem;
	width: 0;
	opacity: 0;
	transition: .2s;
	filter: none;
}

.arrowLink:hover img {
	opacity: 1;
	width: auto;
	padding-left: 2rem;
}


.arrowLink:hover {
	color: #baa;
	/*justify-content: space-between;*/
	/*text-align: left;*/
}

#homeLogo {
	margin: 1rem 1rem 2rem;
	width: 8rem;
	height: 11rem;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
}


#nav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 10rem;
	padding: 0rem;
	box-shadow: 0px 0 8px #544;
	background: #900000;
	/*overflow: hidden;*/
	/*mix-blend-mode: hue;*/
	/*opacity: 0;*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem 0;
	box-sizing: border-box;
}

#nav h1 {
	padding: 0rem;
	margin: 0;
	border-bottom: solid #900000 3px;
	overflow: hidden;
	transition: .3s;
	color: #fffcfc;
	text-align: center;
	white-space: nowrap;
	word-spacing: -.5rem;
	font-size: 1.8rem;
}
#nav h1:hover {
	color: #f23535;
}

#compassButton {
	display: none;
}

	.barContainer {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		flex-grow: 1;
		padding: 1rem 0;
	}
	#sideBar {
		width: 100%;
		background: url('../icons/sidebar.svg');
		background-size: cover;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		width: 6.9rem;
		height: 22rem;
		padding: 3rem 0;
		box-sizing: border-box;
	}
	#sideBar a {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
	#sideBar a .title {
		margin-right: -5rem;
		padding-left: 5rem;
		white-space: nowrap;
		width: 0;
		opacity: 0;
		font-family: 'Kallos';
		color: #900000;
		text-shadow: 0 0 .5rem rgba(255,250,250,.7);


/*overflow: hidden;*/
		transition: .3s;
		font-size: 1.4rem;
		pointer-events: none;
	}
	#sideBar a:hover .title {
		opacity: 1;
	}
	.dot {
		border: .125rem solid #fffcfc;
		background: transparent;
		border-radius: 50%;
		height: .6rem;
		width: .6rem;
		margin: .5rem;
		transition: .3s;
		font-size: .25rem;
		font-family: 'Kallos';
		font-weight: bolder;
		color: rgba(0,0,0,0);
		line-height: .1;
		white-space: nowrap;
		letter-spacing: -60px;
	}
	.dot span {
		color: transparent;
		text-shadow: none;
	}

	#sideBar a:hover .dot {
		opacity: 1;
		background: #f23535;
		border-color: #fffcfc;
		transform: scale(1.4);
	}

	#four .dot, #five .dot, #seven .dot {
		transform: scale(1.4);
	}
	#four:hover .dot, #five:hover .dot, #seven:hover .dot {
		transform: scale(2) translateX(-.25rem);
	}


.visitedDot .dot {
	/*transform: scale(1.5);*/
	background: #fffcfc;
}

.activeDot .dot {
	background: transparent;
	border: .125rem solid #900000;
	/*overflow: hidden;*/
	font-size: 2rem;
	color: #fffcfc;
	line-height: 0;
	border: none;
	transform: translateX(-.2rem) !important;
	letter-spacing: -80px;
}
.activeDot:hover .dot {
	background: transparent !important;
	color: #f23535;
	line-height: .33;
	transform: scale(1.7) translateX(-.15rem) !important;
	/*position: absolute;*/
    text-shadow:
    -1px -1px 0 #fffcfc,
    1px -1px 0 #fffcfc,
    -1px 1px 0 #fffcfc,
    1px 1px 0 #fffcfc;
}

#nav.redTheme {
	background: transparent;
	border: 0;
	transition: .5s all 1s;
	box-shadow: none;
}
.redTheme #sideBar a .title {
	color: #fffcfc;
	text-shadow: 0 0 .5rem rgba(0,0,0,.7);
}
/*.whiteBar {
	filter: brightness(0) invert(.9);

}
.whiteBar .voyageLogo:hover {
	filter: invert(.6);
}
*/
.redTheme #navA:hover {
	background: url('../icons/logo-lr.svg');
}


#blendFix {
	position: absolute;
	width: 1px;
	height: 1px;
	visibility: hidden;
	background: red;
	mix-blend-mode: overlay;
}


.redBox {
	/*background: rgba(102,0,0,1);*/
	/*background: url("../imgs/paper.jpg");*/
	/*mix-blend-mode: multiply;*/
	opacity: 1 !important;
	filter: brightness(.3);
}

.raining {
	/*filter: brightness(0) invert(1);*/
	opacity: .7 !important;
}

.rainier {
	/*filter: brightness(0) invert(.4);*/
	background: url('../imgs/rain2.gif') !important;
	opacity: .5 !important;
	transform-origin: 50% 50%;
	/*transform: rotateZ(20deg) scale(1.8);*/
}


.blackBox {
	transition: all 1s;
	filter: invert(1);
	/*opacity: .9 !important;*/
}


.bigTitle {
	font-family: 'Zapfino';
	font-size: 10rem;
	font-weight: normal;
	color: #fffcfc;
    text-shadow:
    1px -1px 0 #fff,
    -1px 1px 0 #fff;
	pointer-events: none;
	word-spacing: -.3em;
	line-height: .7;
	margin-left: 0;
	filter: drop-shadow(0px 0px 1.5rem rgba(0,0,0,1));
	text-align: center;
}

.bigStopText {
	color: #fffcfc;
	width: 35rem;
}
.bigStopText h2 {
	padding: 0rem 0rem 2rem;
	font-size: 1.6rem;
	/*margin-bottom: 2rem;*/
	color: white;
	padding-top: 2rem;
	flex: 1 0 70%;
	text-shadow: 0 0 1.5rem rgba(0,0,0,1);
}
.bigStopText a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: .3s;
	height: 5rem;
}

.bigStopText a span {
	color: #fffcfc;
	max-height: 4rem;
	justify-content: flex-end;
}
.bigStopText a:hover span {
	color: #f23535;
}

.bigStopText a img {
	height: 3rem;
	margin-right: .5rem;
	transition: .3s;
}
.bigStopText a:hover img {
	margin-right: 0;

}
.bigStopText p {
	padding: 2rem 2rem 0rem;
	line-height: 1.7;
	letter-spacing: 1px;
	transition: .3s;
	text-shadow: 0 0 1.5rem rgba(0,0,0,1);
}
.bigStopText .textArea p:last-child {
	padding: 2rem;
}
.bigStopText .textArea {
	background: rgba(0,0,0,.5);
	border: .125rem solid white;
}

.bigStopHover,.bigStopHover p, .bigStopHover  {
	border-color: #f23535 !important;
	/*border-bottom: none;*/
}

.bigStopText .arrowLink {
	width: 12rem;
	/*padding-left: 2rem;*/
}
.bigStopText .arrowLink:hover {
	color: #f23535;
	cursor: pointer;
}
.bigStopHover h2 {
	color: #f23535 !important;
	text-shadow: 0 0 5px (0,0,0,.5);
}

.credits .textArea {
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 0 0;
}

.credits h2 {
	font-size: 5rem;
	color: white;
	font-family: 'Zapfino';
}

.credits .textArea h3 {
	font-size: 2rem;
}

.credits .textArea span {
	color: white;
	display: flex;
	flex-flow: column;
	/*justify-content: space-between;*/
	align-items: center;
}
/* MAIN */

.imgBG {
	position: fixed;
	bottom: 0;
	left: 0;
	/*min-width: 100%;*/
	width: 100%;
	/*min-height: 100%;*/
	height: 100%;
	z-index: -5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
	will-change: transform;
}
.imgBG img {
	height: 100vh;
	max-width: 300vw;
}
#paperBG {
	background: url('../imgs/paper-bg.jpg');
	background-size: cover;
	opacity: 1;
	transition: all .5s;
}

#bannerBG {
	background: url('../imgs/banner-bg3.jpg');
	background-size: cover;
	opacity: .5;
	width: 150%;
	left: -20%;
}


#sierraLeoneParBG {
	left: -50vw;
	min-width: 180vw;
	z-index: -6;
}

#sierraLeoneParFG {
	left: -70vw;
	bottom: 0;
	z-index: -1;
}


#rioDeLaPlataParBG {
	left: -10vw;
	z-index: -7;
}
#rioDeLaPlataParBG img {
	min-width: 180vw;
}
#rioDeLaPlataParFG {
	min-width: 200vw;
	left: -50vw;
	z-index: -6;
}

#salvadorParBG {
	min-width: 200vw;
	left: -20vw;
	z-index: -8;
}
#salvadorParFG {
	min-width: 200vw;
	left: -40vw;
	z-index: -6;
}

.bigParaShowBG {
	opacity: 1 !important;
}
.bigParaShowFG {
	opacity: 1 !important;
}

#rain {
	background: url('../imgs/rain.gif');
	transition: 3s;
}

#map {
	transition: 4s;
	will-change: transform;
}
.darken {
	filter: brightness(.6);
}

#continue {
	position: fixed;
	bottom: 0;
	padding: 2rem 0;
	width: 100%;
	text-shadow: 0 0 5px rgba(255,250,250,.5);
	font-size: 1.5rem;
	color: #fffcfc;
	opacity: 1;
	pointer-events: none;
	z-index: 2;
	transition: .6s .3s;

	background: linear-gradient(transparent,rgba(250,250,250,.7));
}

#continue p {
	text-align: center;
	width: auto;
	margin: 0 auto;
}

/*.ifScrolling {
	opacity: 0 !important;
	transition: .3s 0s !important;
}
*/
#titleH {
	margin-top: 0;
	font-size: 5rem;
	position: relative;
	text-align: center;
}

#content {
	padding-left: 10rem;
	/*background: url('../imgs/paper-bg.jpg');*/
	background-size: cover;
	transition: 2s;
}

/* SECTION */
.storm1 {
	filter: brightness(.7);
}


#homeHeader {
	position: fixed;
	/*top: 35%;*/
	left: 0rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	z-index: 4;
	height: 100%;
	width: 10rem;
	padding: 1rem;
	background: #900000;
	/*overflow: hidden;*/
	box-shadow: 0px 0 8px #544;
	padding: 1rem 1rem 0;
	border-right: solid #900000 .125rem;
	overflow: hidden;
	border-bottom: solid #900000 .125rem;
	overflow: hidden;
}

#skyBGCont {
	position: fixed;
	top: 0;
	right: -10%;
	z-index: -10;
}
#skyBG {
	background: url('../imgs/sky-bg.jpg');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
}

#shipBGCont {
	position: fixed;
	bottom: 0;
	right: -20%;
	z-index: -5;
}
#shipBG {
	background: url('../imgs/ship-bg2.png');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
	/*transform: translateX(-10%);*/
}
#shipFGCont {
	position: fixed;
	left: 40rem;
	z-index: -1;
	bottom: -4rem;
	width: 30rem;
	height: 110%;
}
#shipFG {
}


#darken {
	background-color: black;
	opacity: .9;
	z-index: -1;
	transition: opacity 0s;
}

#mobileHeader h1 {
	display: none;
}

#homeNav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	z-index: 20;
	background: linear-gradient(transparent,rgba(50,0,0,.3))
}
#homeNav div {
/*	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
*/	/*width: 10rem;*/
}

#navA,#navB {
	width: 8rem;
	height: 12rem;
	background: url('../icons/logo-white.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	position: fixed;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
}

#navA:hover {
 	background: url('../icons/logo-gray.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

#navB {
	opacity: 0;
	pointer-events: none;
	background: url('../icons/logo-red.svg');
	z-index: 200;
}
#navB:hover {
	background: url('../icons/logo-lr.svg');
}


#toAbout {
	margin: 0;
}

#homeNav a .dots {
	border: 5px solid #fffcfc;
	background: transparent;
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
	margin: 1rem;
	transition: .3s;
	font-size: .25rem;
	font-family: 'Kallos';
	font-weight: bolder;
	color: rgba(0,0,0,0);
	line-height: .1;
	white-space: nowrap;
	letter-spacing: -60px;
}

/* FOOTER */



/* MISC */


.fadedScroller {
    overflow: auto;
    position: relative;
    height: 100px;
}

.fadedScroller_fade {
    content:'';
    margin-top: -100px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
    position: relative;
}

#titleCard {
	margin-left: -5rem !important;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET */

@media screen and (max-width: 1000px) {

/* HEADER */


/* MAIN */

/* SECTION */

.spaceCenter {
	margin-left: 0rem;
}

.spaceLeft,.spaceCenter,.spaceRight {
	padding: 1rem;
	max-width: 100%;

}

.textBox {
	width: 30rem;
}

#titleH span {
	white-space: nowrap;
}

/*#titleCard {
	margin-left: -5rem !important;
}
*/

/* FOOTER */
/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE */

@media screen and (max-width: 500px) {


#map{
	position:fixed;
	margin-left: 0%;
	width: 100%;
	z-index: -10;}


/* HEADER */



#content {
	width: 100%;
	padding: .5rem;
	overflow-x: hidden;
	box-sizing: border-box;
}

#mobileHeader {
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/*height: 10rem;*/
	box-sizing: border-box;
}
#mobileHeader h1 {
	display: block;

}
#nav {
	width: 100%;
	height: 5rem;
	padding: .5rem;
	display: block;
	/*background: red;*/
	transition: .5s all 0s;
	z-index: 100;
}

#nav.redTheme {
	transition: .5s all 0s;
	background: #211;
}

.hideNav {
	top: -6rem !important;
}

#navA {
	width: 6rem;
	min-width: 6rem;
	height: 4rem;
	background: url('../icons/logoImg-white.svg');
	background-repeat: no-repeat;

	position: relative;
	top: 0rem;
	left: 0rem;
}

#navA:hover {
 	background: url('../icons/logoImg-gray.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

#navB {
	display: none !important;
	opacity: 0;
	pointer-events: none;
}
#mobileHeader img {
	max-height: 4rem;
	width: 6rem;
	min-width: 6rem;
}
#nav h1 {
	margin-top: 1rem;
	width: 6rem;
	white-space: normal;
	line-height: 1.5rem;
	border: none;
}

#compassButton {
	display: block;
	cursor: pointer;
	height: 4rem;
	width: 4rem;
	min-width: 4rem;
	background: url('../icons/compass-white.svg');
	background-size: cover;
	transition: transform .3s;
}

#compassButton:hover {
	background: url('../icons/compass-hover.svg');
}

#mobileHeader h1 {
	margin: 0 .5rem 0 0;
	overflow: visible;
	text-align: center; 
	width: 60%; 
	height: 1rem;
	transition: .2s;
	font-size: 2.5rem;
}
#mobileHeader h1:hover {
	color: #fffcfc;
}

.barContainer, #homeLinks {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	transition: opacity .5s;
	pointer-events: none;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
}

#homeLinks {
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	/*transform: scale(2);*/
	overflow: hidden;
}

#homeLinks a {
	pointer-events: all;
	font-size: 3em;
	width: auto;
	height: auto;
	padding: 2rem; 
}
#sideBar a .title {
	color: #fffcfc;
	opacity: 1;
	pointer-events: inherit;
}

.openMenu {
	pointer-events: all !important;
	opacity: 1 !important;
}

.fullMenu {
	height: 100vh !important;
}

.activeCompass {
	background: url('../icons/compass-hover.svg') !important;
	transform-origin: 50% 50%;
	transform: rotateZ(45deg);
	background-repeat: no-repeat;
}

.activeCompass:hover {
	background: url('../icons/compass-white.svg') !important;
}
/* MAIN */

#titleCard {
	margin-left: 0rem !important;
}

#titleH {
	margin-top: 0;
	margin-bottom: .5rem;
	font-size: 18vw;
	position: relative;
}
/* SECTION */


.spaceLeft,.spaceRight, .spaceCenter {
	padding: 0;
	max-width: 100%;
	margin-left: 0 !important;
}

.locationTitle {
	top: 2rem;
	left: .5rem;
	transition: .5s all 0s !important;
}
.locPushDown {
	top: 7rem !important;
}

.bigTitle {
	font-size: 6rem;
	font-weight: normal;
	text-shadow:
	1px -1px 0 #fff,
	-1px 1px 0 #fff;
	pointer-events: none;
	font-kerning: 1px;
	line-height: 4.5rem;
}

.bigStopText p {
	/*border-left: none;*/
	padding: 1rem;
}

/* FOOTER */

.flexRow {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.flexRow span {
	padding: 1rem;
}

.flexRow span p {
	padding: .2rem;
}

.credits {
	height: auto;
}
.credits .textArea {
	width: 100%;
	/*justify-content: space-between;*/
	padding: 3rem 0;
}

/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LARGER */

@media screen and (min-width: 1400px) {
	html {
		font-size: 125% !important;
	}
/*	#map {
		width:125% !important;
		height:125% !important;
	}
*/}

@media screen and (min-width: 2100px) {
	html {
		font-size: 200% !important;
	}
/*	#map {
		width:200% !important;
		width:200% !important;
	}
*/}
@media screen and (min-width: 2500px) {
	html {
		font-size: 250% !important;
	}
/*	#map {
		width:250% !important;
		width:250% !important;
	}
*/}

@media screen and (min-width: 3000px) {
	html {
		font-size: 300% !important;
	}
/*	#map {
		width:300% !important;
		width:300% !important;
	}
*/}
@media screen and (min-width: 3500px) {
	html {
		font-size: 350% !important;
	}
/*	#map {
		width:350% !important;
		width:350% !important;
	}
*/}

@media screen and (min-width: 4200px) {
	html {
		font-size: 400% !important;
	}
/*	#map {
		width:400% !important;
		width:400% !important;
	}
*/}

@media screen and (min-width: 5000px) {
	html {
		font-size: 450% !important;
	}
/*	#map {
		width:450% !important;
		width:450% !important;
	}
*/}
