

/* GENERAL STYLES */

html {
	font-size: 100%;
	/*background-color: black;*/
}
body {
	overflow-x: hidden;
}

/* TEXT */

@font-face {
	src: url('../fonts/ZapfinoLinotypeOne.ttf');
	font-family: 'Zapfino';
}

h1 {
	font-family: 'Zapfino';
	font-weight: bold;
	word-spacing: -.5rem;

}

@font-face {
	src: url('../fonts/Kallos-itc-medium.ttf');
	font-family: 'Kallos';
}

h2,h3,h4 {
	font-family: 'Kallos';
}

@font-face {
	src: url('../fonts/Neuton-Regular.TTF');
	font-family: 'Neuton';
}

p {
	font-family: 'Neuton';
	max-width: 60rem;
	line-height: 1.5;
	letter-spacing: 1px;
}

.textBox {
	max-width: 100%; 
	width: 33rem;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.textArea img {
	filter: drop-shadow(0px 0px 3px #200000);
	/*box-shadow: 0 0 5px #200000;*/
}

.png {
	box-shadow: none !important;
}

.redTextBox .textArea {
	border: solid #9a0000 2px;
	box-shadow: 0px 0 10px rgba(100,80,80,.5);
	background: rgba(250, 245, 245,.9);
	display: flex;
	flex-flow: column;
	align-items: center;
}
.blackTextBox .textArea {
	border: solid #000 2px;
	/*background: rgba(50, 40, 40,.9);*/
	background: rgba(250, 245, 245,.9);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.textBox a, .textBox .a {
	padding: 1rem;
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	transition: .3s;
	box-shadow: 0px 0 10px rgba(100,80,80,.5);
}
.textBox a img {
	margin-right: .5rem;
	max-height: 100%;
}
.textBox a:hover img {
	margin-right: 0;
	fill: #eae0e0;
	transition: .3s;
}
.redTextBox a {
	background: #9a0000;	
}
.blackTextBox .a {
	background: #200000;
}

.textBox a h2,.textBox .a h2 {
	color: #fffcfc;
	width: 100%;
	height: auto;
}


.textBox p {
	padding: 0rem 1rem 2rem;
}

.textBox .textArea {
	padding-top: 2rem;
}

.blackTextBox p {
/*	color: #fffcfc;
*/	padding: 1rem 1rem 1rem;
}
.blackTextBox h2 {
	color: #fffcfc;
	padding: 1rem 0;
}
.blackTextBox span {
	padding: 1rem;
}

.boxTop {
	/*margin-bottom: -1rem;*/
}
.boxBottom {
	/*margin-top: -1rem;*/
	transform: rotateZ(180deg);
	transform-origin: 50%;
}
.boxHover a {
	background: #f23535 !important;
}

.boxHover .textArea {
	border: 2px solid #f23535;
}

.flexRow {
	display: flex;
	flex-flow: row nowrap !important;
	width: 100%;
	justify-content: space-around;
}


/* IMAGES */

img {
	max-width: 100%;
}


.spacer10 {
	min-height: 10vh;
}
.spacer20 {
	min-height: 20vh;
}
.spacer50 {
	min-height: 50vh;
}
.spacer100 {
	min-height: 100vh;
}

.spaceCenter {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-left: -10rem;
	padding: 2rem;
}
.spaceLeft {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
}
.spaceRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2rem;
}

.locationTitle {
	font-family: 'Zapfino';
	font-size: 5rem;
	font-weight: bold;
	color: #5f0000;

	position: fixed;
	left: 12rem;
	top: 2rem;
	opacity: 0;
	pointer-events: none;
	z-index: -1;

}

#locationBox {
	display: none;
}

#sierraleoneImgs * {
	position: fixed;
	left: 15rem;
	z-index: 12;
	top: 10rem;
	width: 30rem;
	opacity: 0;
	transition: 1s;
	pointer-events: none;
}

.show {
	opacity: 1;
}


#debug {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: rgba(110,110,110,.8);
	padding: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE */

/* HEADER */



 h1 {
	color: #9a0000;
}

/*.voyageLogo {
	text-align: center;
	margin-bottom: 2rem;
}

.voyageLeft {
	margin-left: 3rem;
}
*/.biggerFont {
	font-size: 3.5rem;
	line-height: .5rem;
}

#homeHeader h1 {
	font-size: 3rem;
}


#voyageNav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 10rem;
	padding: 0rem;
	box-shadow: 0px 0 8px #544;
	background: #5f0000;
	/*mix-blend-mode: hue;*/
	/*opacity: 0;*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2rem 1rem 0;
	box-sizing: border-box;
}

#voyageNav h1 {
	padding: 0rem;
	margin: 0;
	/*border-bottom: solid #9a0000 3px;	*/
	transition: .3s;
	color: #fffcfc;
	text-align: center;
	white-space: nowrap;
	word-spacing: -.5rem;
	font-size: 1.8rem;
}
#voyageNav h1:hover {
	color: #f23535;
}

#compassButton {
	display: none;
}

	.barContainer {
		display: flex;
		flex-flow: column;
		justify-content: center;
		flex-grow: 1;
	}
	#sideBar {
		width: 100%;
		background: url('../icons/sideBar.svg');
		background-size: cover;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		width: 8rem;
		height: 25.3rem;
		padding: 3rem 0;
		box-sizing: border-box;
	}
	#sideBar a {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
	#sideBar a .title {
		margin-right: -5rem;
		padding-left: 5rem;
		white-space: nowrap;
		width: 0;
		opacity: 0;
		font-family: 'Kallos';
		color: #9a0000;
		transition: .3s;
		font-size: 1.4rem;
		pointer-events: none;
	}
	#sideBar a:hover .title {
		opacity: 1;
	}
	.dot {
		border: 2px solid #fffcfc;
		background: transparent;
		border-radius: 50%;
		height: .6rem;
		width: .6rem;
		margin: .5rem;
		transition: .3s;
		font-size: .25rem;
		font-family: 'Kallos';
		font-weight: bolder;
		color: rgba(0,0,0,0);
		line-height: .1;
		white-space: nowrap;
		letter-spacing: -60px;
	}
	.dot span {color: transparent;text-shadow: none;}

	#sideBar a:hover .dot {
		opacity: 1;
		background: #f23535;
		border-color: #fffcfc;
		transform: scale(1.4);
	}

	#four .dot, #five .dot, #seven .dot {
		transform: scale(1.4);
	}
	#four:hover .dot, #five:hover .dot, #seven:hover .dot {
		transform: scale(2) translateX(-.25rem);
	}


.visitedDot .dot {
	/*transform: scale(1.5);*/
	background: #fffcfc;
}

.activeDot .dot {
	background: transparent;
	/*border: 2px solid #9a0000;*/
	font-size: 2rem;
	color: #fffcfc;
	line-height: 0;
	border: none;
	transform: translateX(-.2rem) !important;
	letter-spacing: -80px;
}
.activeDot:hover .dot {
	background: transparent !important;
	color: #f23535;
	line-height: .33;
	transform: scale(1.7) translateX(-.15rem) !important;
	/*position: absolute;*/
    text-shadow:
    -1px -1px 0 #fffcfc,
    1px -1px 0 #fffcfc,
    -1px 1px 0 #fffcfc,
    1px 1px 0 #fffcfc;  
}

#voyageNav.redTheme {
	background: transparent;
	border: 0;
	transition: .5s all 1s;
	box-shadow: none;
}
.redTheme #sideBar a .title {
	color: #fffcfc;
} 
/*.whiteBar {
	filter: brightness(0) invert(.9);

}
.whiteBar .voyageLogo:hover {
	filter: invert(.6);
}
*/ 


#blendFix {
	position: absolute;
	width: 1px;
	height: 1px;
	visibility: hidden;
	background: red;
	mix-blend-mode: overlay;
}


.redBox {
	/*background: rgba(102,0,0,1);*/
	/*background: url("../imgs/paper.jpg");*/
	/*mix-blend-mode: multiply;*/
	opacity: 1 !important;
	filter: brightness(.3);
}

.raining {
	/*filter: brightness(0) invert(1);*/
	opacity: .7 !important;
}

.rainier {
	filter: brightness(0) invert(.4);
	opacity: 1 !important;
	transform-origin: 50% 50%;
	transform: rotateZ(20deg) scale(1.8);
}

.darkRain {
	filter: hue-rotate(100deg) brightness(.7);
	opacity: 1 !important;
}

.blackBox {
	filter: invert(.9);
}


.bigTitle {
	font-family: 'Zapfino';
	font-size: 10rem;
	font-weight: normal;
	color: #fffcfc;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	pointer-events: none;
	font-kerning: 1px;
	line-height: .7;
}

.bigStopText {
	color: #fffcfc;
	width: 35rem;
	border-bottom: 2px solid white;
}
.bigStopText h2 {
	padding: 0rem 0rem 2rem; 
	font-size: 1.6rem;
	/*margin-bottom: 2rem;*/
	color: white;
	padding-top: 2rem;
}
.bigStopText a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: .3s;
	height: 5rem;
	border-bottom: 2px solid white;
}
.bigStopText a img {
	height: 3rem;
	margin-right: .5rem;
	transition: .3s;
}
.bigStopText a:hover img {
	margin-right: 0;

}
.bigStopText p {
	padding: 2rem 2rem 0rem; 
	line-height: 1.7;
	letter-spacing: 1px;
	border-left: 2px solid white;
	transition: .3s;
}
.bigStopText p:last-child {
	padding-bottom: 2rem;
}

.bigStopHover,.bigStopHover p, .bigStopHover  {
	border-color: #f23535 !important;
	/*border-bottom: none;*/
}

.bigStopHover h2 {
	color: #f23535 !important;
}

#credits .textArea {
	width: 60%;
	justify-content: space-between;
	padding: 5rem 0;
}

#credits h2 {
	font-size: 5rem;
	color: white;
	font-family: 'Zapfino';
}

#credits .textArea h3 {
	font-size: 2rem;
}

#credits .textArea span {
	color: white;
	height: 10rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}
/* MAIN */

.imgBG {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-size: cover;	
	background-repeat: no-repeat;
	transition: opacity 1s;
	transition: filter 1s;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
}

#paperBG {
	background: url('../imgs/paper-bg.jpg');
	opacity: 1;
}

#bannerBG {
	background: url('../imgs/banner-bg.jpg');
	opacity: .2;
	width: 150%;
	left: -20%;
}

#sierraLeoneParBG {
	background: url('../imgs/barcha-del-hercole-bg.jpg');
	width: 150%;
	z-index: -6;
	filter: invert(1);
}

#sierraLeoneParFG {
	background: url('../imgs/barcha-del-hercole-fg.png');
	background-repeat: no-repeat;
	width: 150%;
	left: -30%;
	z-index: -1;
	filter: invert(1);
}

.bigParaShowBG {
	opacity: 1 !important;
}
.bigParaShowFG {
	opacity: .5 !important;
}

#rain {
	background: url('../imgs/rain.gif');	
	transition: 3s;
}

#map {
	transition: 4s;
}
.darken {
	filter: brightness(.6);
}

#continue {
	position: fixed;
	bottom: 0;
	padding-bottom: 2rem;
	width: 100%;
	text-shadow: 0 0 5px rgba(255,250,250,.5);
	font-size: 1.5rem;

	opacity: 1;
	pointer-events: none;
	z-index: 12;
	transition: .6s .3s;
}

#continue p {
	text-align: center;
	width: auto;
	margin: 0 auto;
}

.ifScrolling {
	opacity: 0 !important;
	transition: .3s 0s !important;
}

#titleH {
	margin-top: 0;
	font-size: 5rem;
	position: relative;
}

#content {
	padding-left: 10rem;
	/*background: url('../imgs/paper-bg.jpg');*/
	background-size: cover;	
	transition: 2s;
}

/* SECTION */


#homeHeader {
	position: fixed;
	top: 0;
	left: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	z-index: 4;
	height: 10rem;
	width: 33rem;
	/*padding: 1rem;*/
	/*background: rgba(250, 245, 245,.9);*/
	/*border-right: solid #9a0000 2px;*/
	/*border-bottom: solid #9a0000 2px;*/
}


#skyBG {
	position: fixed;
	top: 0;
	background: url('../imgs/sky-bg.jpg');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
	right: -10%;
	z-index: -10;
}
#shipBG {
	position: fixed;
	bottom: 0;
	background: url('../imgs/ship-bg.png');
	background-size: cover;
	background-position: center;
	width: 120vw;
	height: 110vh;
	right: -20%;
	z-index: -5;
	/*transform: translateX(-10%);*/
}
#shipFG {
	position: fixed;
	bottom: -70px;
	height: 110%;
	right: 20px;
	z-index: -1;
}

#darken {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: .8;
	z-index: -1;
}


#homeNav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	z-index: 20;
	background: linear-gradient(transparent,rgba(50,0,0,.3))
}
#homeNav div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 10rem;
}

/* FOOTER */



/* MISC */





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET */

@media screen and (max-width: 1000px) {
	
/* HEADER */


/* MAIN */

/* SECTION */

.spaceCenter {
	margin-left: 0rem !important;
}

.spaceLeft,.spaceCenter,.spaceRight {
	padding: 1rem;

}

.textBox {
	width: 30rem;
}

#titleCard {
	margin-left: -10rem !important;
}


/* FOOTER */
/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE */

@media screen and (max-width: 500px) {
	
/* HEADER */



#content {
	width: 100%;
	padding: .5rem;
	overflow-x: hidden;
	box-sizing: border-box;
}

#mobileHeader {	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	/*height: 10rem;*/
	box-sizing: border-box;
}

#voyageNav {
	width: 100%;
	height: 5rem;
	padding: .5rem;
	display: block;
	/*background: red;*/
	transition: .5s all 0s;
	z-index: 100;
}

#voyageNav.redTheme {
	transition: .5s all 0s;
	background: #5f0000;
}

.hideNav {
	top: -6rem !important;
}

#voyageNavA {
	width: 10rem;
	height: 4rem;
	display: flex;
	flex: 1 0 50%;
	flex-flow: row-reverse;
	justify-content: flex-start;
	align-items: center;

}

#mobileHeader img {
	max-height: 4rem;
}
#voyageNav h1 {
	margin-top: 1rem;
	width: 6rem;
	white-space: normal;
	line-height: 1.5rem;
}

#compassButton {
	display: block;
	cursor: pointer;
	height: 4rem;
	width: 4rem;
	background: url('../icons/compass-white.svg');
	background-size: cover;
	transition: transform .3s;
}

.barContainer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	transition: opacity .5s;
	pointer-events: none;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;

}

#sideBar a .title {
	color: #fffcfc;
	opacity: 1;
	pointer-events: inherit;
}

.openMenu {
	pointer-events: all;
	opacity: 1 !important;
}

.fullMenu {
	height: 100vh !important;
}

.activeCompass {
	background: url('../icons/compass-hover.svg') !important;
	transform-origin: 50% 50%;
	transform: rotateZ(45deg);
	background-repeat: no-repeat;
}


/* MAIN */

#titleCard {
	margin-left: 0rem !important;
}

#titleH {
	margin-top: 0;
	margin-bottom: .5rem;
	font-size: 20vw;
	position: relative;
}

/* SECTION */


.spaceLeft,.spaceRight, .spaceCenter {
	padding: 0;
	max-width: 100%;
}

.locationTitle {
	top: 6rem;
	left: .5rem;
}

.bigTitle {
	font-size: 6rem;
	font-weight: normal;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	pointer-events: none;
	font-kerning: 1px;
	line-height: .7;
}

.bigStopText p {
	border-left: none;
	padding: 1rem 0;
}


/* FOOTER */
/* MISC */

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LARGER */

@media screen and (min-width: 1700px) {
	html {
		font-size: 150% !important;
	}
/* HEADER */
/* MAIN */
/* SECTION */
/* FOOTER */
/* MISC */

}

